.mainBtn {
  background-color: grey;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.mainBtn:hover {
  background-color: lightgrey;
}

.mainBtn p {
  color: black;
  transform: rotate(-45deg);
  text-align: bottom;
}

#homeBtn {
  margin-left: 25%;
  margin-top: 20%;

}

#projectsBtn {
  display: block;
  margin-left: 16%;
  margin-top: -65px;
}

#aboutBtn {
  display: block;
  margin-left: 34%;
  margin-top: -215px;

}

#contactBtn {
  margin-top: -65px;
  margin-left: 25%;
}

.popOut{
  width: 200px;
  height: 200px;
}

#homePopout{
  background-color: red;
  margin-top: -234px;
  margin-left: -200px;
}
