.mainBtn {
  background-color: grey;
  width: 200px;
  height: 200px;
  margin-top: 10%;
  transform: rotate(45deg);
}

.mainBtn p {
  color: black;
  transform: rotate(-45deg);
}

#homeBtn {
  margin-left: 25%;
}

#projectsBtn {
  display: block;

}

#aboutBtn {
  display: inline-block;
}

#contactBtn {
  /* border-radius: 4px; */
}
